/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #000028;
  --accent-bg-color: #FF0070;
  --accent-text-color: #000028;
  --neon-title-text-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --title-text-color: #FF0070;
  --link-color: #F1B2CE;
  --decorated-zone-color: #FF0070;
  --header__theme-menu-button-hover-color: #FF007066;
  --header__theme-menu-button-focus-color: #FF0070;
}