/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-image: url(../images/cover-image-light.png);
  --page-bg-color: #FFC2E6;
  --accent-bg-color: #FF8DCB;
  --accent-text-color: #353430;
  --neon-title-text-color: #FFC2E6;
  --main-text-color: #353430;
  --title-text-color: #353430;
  --link-color: #353430;
  --decorated-zone-color: #353430;
  --header__theme-menu-button-hover-color: #32312D66;
  --header__theme-menu-button-focus-color: #353430;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --page-bg-image: url(../images/cover-image-light.png);
  --page-bg-color: #FFC2E6;
  --accent-bg-color: #FF8DCB;
  --accent-text-color: #353430;
  --neon-title-text-color: #FFC2E6;
  --main-text-color: #353430;
  --title-text-color: #353430;
  --link-color: #353430;
  --decorated-zone-color: #353430;
  --header__theme-menu-button-hover-color: #32312D66;
  --header__theme-menu-button-focus-color: #353430;
  }

  .header__rec {
    display: none;
  }
}